<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>595243453417-o89sjhhmm1kc8rmh6u9q7m95b33a7njo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595243453417-o89sjhhmm1kc8rmh6u9q7m95b33a7njo</string>
	<key>API_KEY</key>
	<string>AIzaSyCKHvCN_Yy9zJaTXg1PwEg8BRwNGhfzzgc</string>
	<key>GCM_SENDER_ID</key>
	<string>595243453417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.upenn.seas.cis195.Pay</string>
	<key>PROJECT_ID</key>
	<string>paydatabase-de98b</string>
	<key>STORAGE_BUCKET</key>
	<string>paydatabase-de98b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:595243453417:ios:a512449b9231e1fd</string>
	<key>DATABASE_URL</key>
	<string>https://paydatabase-de98b.firebaseio.com</string>
</dict>
</plist>